/* font-family: 'Raleway',
sans-serif; */
/* =============COMPONENTS============ */
body { 
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  width: 1440px;
  height: 2590px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btns {
  cursor: pointer;
}
.btns:hover,
.btns:focus {
  background: #404BBF;
  color: #FFFFFF;

}
.link:hover,
.link:focus {
  color: #404BBF;
}
/* =============COMPONENTS============ */

/* =============HEADER============ */
.logo {
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* ^^^^^^???^^^^^ */
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
.main-nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contact-us {
  font-style: normal;
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/* =============/HEADER============ */

/* =============HERO============ */
.hero {
  width: 1440px;
  height: 600px;
  background: #2E2F42;
}
.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}
.main-btn {
  background: #4D5AE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

/* =============/HERO============ */

/* =============FEATURES============ */
.menu-items-features {
  width: 264px;
  height: 104px;
}
.menu-items-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }
.menu-items-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =============/FEATURES============ */

/* =============WHAT ARE WE DOING============ */
.projects-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em
  text-transform: capitalize; 
  /* ^^^^^???^^^^ */
}

/* =============/WHAT ARE WE DOING============ */

/* =============OUR TEAM============ */
.team {
  width: 1440px;
  height: 732px;
  background: #F4F4FD;
  }
.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.teammate-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.teammate-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =============/OUR TEAM============ */

/* =============FOOTER============ */
.end-page {
  background-color: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.33;
}
/* =============/FOOTER============ */


/* +++++++++++++PORTFOLIO+++++++++++++ */


/* =============BUTTONS============ */
.menu-projects-btn {
  background: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4D5AE5;;
}
/* =============/BUTTONS============ */

/* =============PROJECT LIST============ */
.logo-studio-end-page {
  color: #f4f4fd;
}
.our-projects-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* =============/PROJECT LIST============ */